<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Quick Resolve</title>
</head>
<body class="bg">
    <div>
    <img id="landing__image" src="../static/assets/landing_img.png" alt="landing image"/>
    <div id="landing__text">
    <h2>Welcome To</h2>
    <div class="heading landing__heading">Quick Resolve</div>
    <button class="landing__login__btn">LOGIN</button>
    <p>New User?</p>
    <button class="landing__register__btn">REGISTER</button>
    </div>
    </div>
    <!-- <h3>View FAQs</h3> -->
</body>
</html>