<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Quick Resolve</title>
</head>
<body class="bg">
    <div class="heading">Quick Resolve</div>
    <div class="box">
        <h1>REGISTER <br> NOW</h1>
        <form action="#" method="post">
            <input type="email" placeholder="Username"/>
            <input type="password" placeholder="Password"/>
            <div id="register__radios">
            <label class="register__radio"><input type="radio" checked="checked" value="Student"/>Student</label><br><br>
            <label class="register__radio"><input type="radio" value="Course Instructor"/>Course Instructor</label><br><br>
            <label class="register__radio"><input type="radio" value="Admin"/>Admin</label>
            </div>
            <button id="register__btn">REGISTER</button>
        </form>
    </div>
    <!-- <h3>View FAQs</h3> -->
</body>
</html>