@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&family=Pacifico&display=swap");

#app {
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
}

.bg {
  background-image: url("bg.jpg");
  /* background-size: 100%; */
  background-size: cover;
  background-position: center center;
  height: 100vh;
  margin-top: 0;
  background-repeat: no-repeat;
  position: relative;
}

.heading {
  font-family: Pacifico;
  font-weight: 400;
  font-size: 4rem;
  width: 25%;
  text-align: center;
  margin-top: 25vh;
  margin-left: 8%;
  background: linear-gradient(#026277, #004b82);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.box {
  width: 360px;
  height: 500px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 3px 3px rgba(100, 109, 116, 0.6);
  border-radius: 50px;
  position: absolute;
  margin-left: 60%;
  margin-top: -20%;
}

.box__login {
  background-image: url("https://images.unsplash.com/photo-1519332978332-21b7d621d05e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTgyfHxtaW5pbWFsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: 100%;
  border: none;
}

.box h1 {
  font-family: Inter;
  font-weight: 600;
  background: linear-gradient(#026277, #004b82);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 35px 5px;
}

#login__welcome {
  color: #000;
}

h2 {
  font-family: Inter;
  font-weight: 200;
  background: linear-gradient(#026277, #004b82);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box form input {
  font-family: Inter;
  font-weight: 500;
  padding: 10px 1px 10px 50px;
  margin: 5px;
  border: 0.5px solid lightgrey;
  border-radius: 8px;
}

button {
  font-family: Inter;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  border: none;
  background: linear-gradient(#026277, #004b82);
  transition: 0.2s;
}

#login__btn {
  margin-top: 50%;
}

#register__btn {
  margin-top: 12%;
}

#register__radios {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  font-family: Inter;
  font-size: 16px;
  margin-top: 20px;
}

.form .register__radio {
  margin: 10px 5px;
}

h3 {
  color: #000;
  font-family: Inter;
  font-weight: 600;
  text-align: center;
}

.landing__heading {
  font-size: 4rem;
  width: 100%;
  margin-top: 0%;
  margin-left: 0%;
}

#landing__image {
  position: absolute;
  top: 25px;
  left: 5%;
  scale: 0.95;
}

#landing__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 45%;
}

#landing__text h2 {
  margin-top: 12%;
  margin-bottom: 0px;
}

#landing__text p {
  font-size: 16px;
  font-style: italic;
  padding: 20px 0px 10px 0px;
}

.landing__register__btn {
  color: #004b82;
  background: white;
  margin-top: 0%;
  padding: 11px 26px;
  border: 4px double rgba(0, 75, 130, 0.5);
}

.landing__login__btn {
  margin-top: 10%;
}
